@model UMS.Web.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/signin")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/toastr")
</head>
<body>
    <div class="container"> 
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <h2 class="form-signin-heading">Proszę się zalogować</h2>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email", required = "", autofocus = "" })
        @Html.ValidationMessageFor(m => m.Email)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Hasło", type = "password", required = "" })
        @Html.ValidationMessageFor(m => m.Password)
        <button type="submit" class="btn btn-lg btn-primary btn-block">Zaloguj się</button>

        <a href="@Url.Action("Register", "Account")" class="center-block"><small>Nie masz jeszcze konta?</small></a>
    }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    <script type="text/javascript">
        $(document).ready(function () {
            showNotification(@Html.Raw(Json.Encode(Model)));
        });
    </script>
</body>
</html>
